.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.index-single-post{
  border: 1px solid black;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  height: 500px;
}
#posts-flex-container{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}
#create-new-post{
  border: 1px solid black;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  
}
#all-the-pics{
  display: flex;
  flex-direction: column;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #28282B;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#28282B;
  text-align:center;
  transition: all 0.2s;
  border-radius: 100px;
  }
  button:hover{
  color:#000000;
  background-color: darkgray;
  cursor: grab;
  }
  input{
    display: block;
    width: 50%;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;

  }
  #image-div{
    overflow: hidden;
  }
  .images{
    object-fit: contain;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }
  .footer {
    align-items: center;
    background-color: #2B2D2E;
    /* color: white; */
    display: flex;
    flex-direction: column;
    min-height: 8vh;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }


  #modal-background{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #modal-container{
    background-color: white;
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }