.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.index-single-post{
  border: 1px solid black;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  height: 400px;
}
#posts-flex-container{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}
#create-new-post{
  border: 1px solid black;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  
}
#all-the-pics{
  display: flex;
  flex-direction: column;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #28282B;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#28282B;
  text-align:center;
  transition: all 0.2s;
  }
  button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  input{
    display: block;
    width: 50%;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;

  }
  /* #image-div{
    width: 100%;
  } */
  .images{
    object-fit: cover;
    width: 100%;
  }
